<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>


    <context id="DB2Tables" targetRuntime="MyBatis3">
        <commentGenerator>
            <!-- 是否去除自动生成的注释,true：是,false:否 -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!--数据库连接地址账号密码-->

        <!--        需修改-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/dbexp?serverTimezone=GMT%2B8"
                        userId="root"
                        password="123456">
        </jdbcConnection>
        <!--        需修改-->



<!--        <javaTypeResolver -->

        <!--生成Model类（DataObject）(数据库对应的java实体)的存放位置-->
        <!--targetPackage 是存放的包的路径
            targetProject 是要放到工程中的哪个路径下，这个工程是针对ide开发环境目录而言的
            连起来：在ide中的src/main/java下com.ershou.ershoumarket.dataobject包中
        -->
        <javaModelGenerator targetPackage="com.hsy.dbexp.dataobject" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!--生成映射文件存放位置
            在ide中的src/main/resources目录下的mapping目录中
        -->
        <sqlMapGenerator targetPackage="mapping"  targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!--生成Dao类存放位置-->
        <!--客户端代码，生成易于使用的针对Model对象和XML配置文件的代码
            type="ANNOTATEDMAPPER",生成java model和基于注解的Mapper对象
            type="MIXEDMAPPER",生成基于注解的java model和相应的Mapper对象
            type="XMLMAPPER",生成SQLMap XML文件和独立的Mapper接口
        -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.hsy.dbexp.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

<!--        <table  tableName="wx_second_good" domainObjectName="GoodDO" enableCountByExample="false"-->
<!--        enableUpdateByExample="false" enableDeleteByExample="fales"-->
<!--               enableSelectByExample="false" selectByExampleQueryId="false"></table>-->
<!--        <table  tableName="wx_second_meta" domainObjectName="MetaDO" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="fales"-->
<!--               enableSelectByExample="false" selectByExampleQueryId="false"></table>-->
<!--        <table  tableName="t_studentrelation" domainObjectName="StudentRelationDO" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="fales"-->
<!--               enableSelectByExample="false" selectByExampleQueryId="false"></table>-->
<!--        <table  tableName="t_department" domainObjectName="DepartmentDO" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="fales"-->
<!--               enableSelectByExample="false" selectByExampleQueryId="false"></table>-->
<!--        <table  tableName="t_grade" domainObjectName="GradeDO" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="fales"-->
<!--               enableSelectByExample="false" selectByExampleQueryId="false"></table>-->
<!--        <table  tableName="t_student_info" domainObjectName="StudentInfoDO" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="fales"-->
<!--               enableSelectByExample="false" selectByExampleQueryId="false"></table>-->
        <table  tableName="t_classinfo" domainObjectName="ClassInfoDO" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="fales"
               enableSelectByExample="false" selectByExampleQueryId="false"></table>


    </context>
</generatorConfiguration>