<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsy.dbexp.dao.DepartmentDOMapper">
  <resultMap id="BaseResultMap" type="com.hsy.dbexp.dataobject.DepartmentDO">
    <id column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
  </resultMap>

  <resultMap id="NumMap" type="com.hsy.dbexp.controller.viewobject.DepartmentVO">
    <result column="num" jdbcType="INTEGER" property="totalNum" />
    <result column="department_name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <sql id="Base_Column_List">
    department_id, department_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_department
    where department_id = #{departmentId,jdbcType=INTEGER}
  </select>

<!--  hsy-->


  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_department having department_id>0
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_department
    where department_name=#{name,jdbcType=VARCHAR}
  </select>

  <select id="countNum" parameterType="java.lang.String" resultMap="NumMap">
select department_name,count(*) as num
from
(select t_student_info.student_id,t_student_info.student_name,t_department.department_id,t_department.department_name from t_student_info inner join t_studentrelation on t_student_info.student_id=t_studentrelation.student_id INNER JOIN t_department ON t_department.department_id=t_studentrelation.department_id) t
GROUP BY department_id having department_name=#{dname,jdbcType=VARCHAR}
  </select>
<!--  hsy-->

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_department
    where department_id = #{departmentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hsy.dbexp.dataobject.DepartmentDO" useGeneratedKeys="true" keyProperty="departmentId">
    insert into t_department (department_id, department_name)
    values (#{departmentId,jdbcType=INTEGER}, #{departmentName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hsy.dbexp.dataobject.DepartmentDO" useGeneratedKeys="true" keyProperty="departmentId">
    insert into t_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="departmentName != null">
        department_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="departmentId != null">
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hsy.dbexp.dataobject.DepartmentDO">
    update t_department
    <set>
      <if test="departmentName != null">
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
    </set>
    where department_id = #{departmentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hsy.dbexp.dataobject.DepartmentDO">
    update t_department
    set department_name = #{departmentName,jdbcType=VARCHAR}
    where department_id = #{departmentId,jdbcType=INTEGER}
  </update>
</mapper>